Package: com.uofist.papashabeppe
Name: Папаша Беппе
Version: 1.0.3
Architecture: iphoneos-arm
Description: Папаша Беппе клиент для iOS 6 for iOS 6
Maintainer: uofist <@uofist>
Author: uofist <@uofist>
Section: Applications
