Package: com.uofist.papashabeppe
Name: Папаша Беппе
Version: 1.0.0
Architecture: iphoneos-arm
Description: Папаша Беппе native client for iOS 6
Maintainer: uofist <@uofist>
Author: uofist <@uofist>
Section: Applications
